// Neutral
$white: #ffffff;
$black: #000000;

// Shades of gray
$ghost-white: #F7F7FF;
$dim-gray: #60656F;
$night: #131112;

// Fire colors
$blaze-orange: #ff6600;
$international-orange: #ff5500;
$scarlet: #ff3300;
$sunshade: #ffac33;

// Primary & Secondary
$primary: $blaze-orange;
$secondary: $scarlet;