@use '../helpers' as *;

button,
.button {
  background-color: rgba($night, 0.5);
  border: 1px solid $primary;
  box-shadow: 0 0 10px 0 $night;
  color: $ghost-white;
  padding: 10px 20px;
  border-radius: 20px;
  transition:
    background-color $transition-time,
    box-shadow $transition-time;
  font-size: to-rem(14);
  cursor: pointer;

  @include respond-min($desktop) {
    font-size: to-rem(16);
  }

  @include hover-style {
    background-color: $night;
    box-shadow: 0 0 10px 0 $scarlet;
    outline: 0;
  }

  &--active {
    background-color: $night;
    box-shadow: 0 0 10px 0 $scarlet;
  }
}