@use '../helpers' as *;

html,
body {
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Aboreto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: $ghost-white;
  background-color: $night;

  &.locked {
    overflow: hidden;
  }

  *:focus {
    box-shadow: 0 0 10px 0 $scarlet;
    outline: 1px solid $blaze-orange;
  }
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
